.cd-fixed-bg {  
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

body {
  background-color: black;
}

.cd-fixed-bg.cd-fixed-bg--1 {
  background-image: url("../assets/bike-small.jpg");
}

.cd-fixed-bg.cd-fixed-bg--2 {
  background-image: url("../assets/blue-flower.jpg");
}


.cd-fixed-bg.cd-fixed-bg--3 {
  background-image: url("../assets/jelly2.jpg");
}
.cd-fixed-bg.cd-fixed-bg--4 {
  background-image: url("../assets/sky-of-stars.jpg");
}


.cd-scrolling-bg {
  min-height: 100%;
  min-height: 50vh;
}

.cd-scrolling-bg--color-1 {
  background-color: rgb(28, 74, 117);
}

.cd-scrolling-bg--color-2 {
  background-color: green;

}
.cd-scrolling-bg--color-3 {

}
