@import '_background';
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem; // background-color: rgb(28, 74, 117);
  background-color: var(--main-bg-color);
  --main-bg-color: #40758e; 
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}