* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100%;
  background: url(../assets/jellyfish.jpg);
}


button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}